################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/POS/FileContentIndex/31e95a0d-6026-408f-b990-dd0dd2dd0dff.vsidx
